@import url('https://use.typekit.net/bbj4vjx.css');

/* ~ Colors and Fonts */

$color-black: #242020;
$color-gray-primary: #353535; 
$color-gray-secondary: #969696;
$color-gray-margin: #F3E7ED;
$color-white: #FFFFFF;
$color-pink: #f72585;
$color-pink-secondary: #FFCAE3;
$color-green: #329554;
$color-blue: #4361EE;
$color-yellow: #FAB34A;
$color-red: #892B2B;

.pink {
  background-color: $color-pink;
}
.green {
  background-color: $color-green;
}
.blue {
  background-color: $color-blue;
}
.red {
  background-color: $color-red;
}
.black {
  background-color: $color-black;
}
.yellow {
  background-color: $color-yellow;
}
.gray-primary {
  background-color: $color-gray-primary;
}
.white {
  background-color: $color-white;
}

.text-gray-primary {
  color: $color-gray-primary;
}
.text-gray-secondary {
  color: $color-gray-secondary
}
.text-white {
  color: $color-white;
}

.text-pink {
  color: $color-pink;
}


@font-face {
  font-family: "Karrik";
  src: url('./karrik/Karrik-Regular.ttf') format("ttf");
  src: url('./karrik/Karrik-Regular.woff') format("woff");
}

@font-face {
  font-family: "Karrik Italic";
  src: url('./karrik/Karrik-Italic.ttf') format("ttf");
  src: url('./karrik/Karrik-Italic.woff') format("woff");
}

/* ~ General Styles */

.App {
  text-align: center;
  margin: 0px auto;
  max-width: 1100px;
  background-color: $color-white;
}


/* ~ Flexbox and Alignment */

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.gap-8 {
  gap: 8px;
}

.gap-12 {
  gap: 12px;
}

.gap-24 {
  gap: 24px;
}

.gap-36 {
  gap: 36px;
}

.gap-64 {
  gap: 64px;
}

.gap-80 {
  gap: 80px;
}

.gap-120 {
  gap: 120px;
}

.padding-bottom-48 {
  padding-bottom: 48px;
}

.align-top {
  align-items: flex-start;
}

.align-left {
  align-items: left;
  text-align: left;
}

.space-between {
  justify-content: space-between;
}

.rounded-corners {
  border-radius: 12px;
}


/* ~ Typography */

h1 {
  font-family: "roc-grotesk", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.5em;
  color: $color-black;
  margin: 0;
}

h2 {
  font-family: "Karrik", sans-serif;
  font-size: 1.25em;
  color: $color-black;
  font-weight: normal;
}

h3 {
  font-family: "ff-real-text-pro", sans-serif; 
  font-size: 1.25em; 
  color: $color-gray-primary; 
  font-weight: 400;
  
}

p {
  font-family: "ff-real-text-pro", sans-serif;
  font-size: 1em; 
  font-weight: 300;
  line-height: 150%;
  margin: 0px;
  display: inline-block;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 400;
}

details {
  font-family: "ff-real-text-pro", sans-serif;
  font-size: 1em; 
  font-weight: 300;
  line-height: 150%;
  margin: 0px;
}

details:hover {
  cursor: pointer;
}

canvas {
  width: 468px !important;
  height: 468px !important;
}

spoiler {
  color: $color-gray-margin;
  background-color: $color-gray-margin;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

spoiler:hover {
  color: $color-black;
}

/* ~ NavLinks */

.navItem {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-white;
  background-color: $color-pink;
  flex: 1;
  font-family: "Karrik", sans-serif;
  text-decoration: none;
  height: 48px;
}

.navItem a {
  color: $color-white;
  font-family: "Karrik", sans-serif;
  font-size: 20px;
  text-decoration: none;
}

.navLink {
  font-family: "Karrik", sans-serif;
  font-size: 20px;
  text-decoration: none;
}

.navItem:hover {
  background-color: $color-pink-secondary;
  color: $color-black;
}

.navItem:hover a {
  color: $color-black;
}

#view-collection {
  font-family: 'Karrik', sans-serif;
  font-size: 1.5em;
  color: $color-blue;
  text-decoration: none;
}

.reviewer {
  font-family: "ff-real-text-pro", sans-serif;
  color: $color-blue;
  font-weight: 400;
  font-size: 1em;
}


/* ~ Navigation Bar */

#nav {
  padding: 24px 100px;
  // gap: 36px;
}

#navLogo {
  width: 258px;
}

#nav-search {
  width: 556px;
  font-family: "Karrik", sans-serif;
  font-size: 20px; 
  color: $color-black;
  border: solid 2px $color-pink;
  background-color: $color-gray-margin;
  border-radius: 24px;
  padding: 12px 0 12px 24px;
  justify-self: center;
}

.nav-section {
  display: flex; 
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

/* ~ Cards */

.card-highlight {
  text-align: left;
  width: 468px;
  // flex: 1 0 40%;
}

.card-highlight-image {
  width:137px;
  border-radius: 6px;
  // border: 2px solid $color-black;
}

.card-image {
  width: 120px;
  border-radius: 12px;
  border: 2px solid $color-black;
}

.card-title {
  margin: 0;
}

.card {
  width: 520px;
}

/* ~ Score */

.score-bird {
  width: 178px;
}

.score-value {
  position: absolute;
  display: flex;
  align-items: center; /** Y-axis align **/
  justify-content: center; /** X-axis align **/
  text-align: center;
  font-family: "Karrik", sans-serif;
  font-size: 40px; 
  color: $color-white;
}

.score-green {
  margin: -98px 0 0 111px; // TODO: THIS IS HARDCODED LOL
}

.score-yellow {
  margin: -103px 0 0 111px; // TODO: THIS IS HARDCODED LOL
}

.score-orange {
  margin: -88px 0 0 111px; // TODO: THIS IS HARDCODED LOL
}

.score-red {
  margin: -105px 0 0 111px; // TODO: THIS IS HARDCODED LOL
}

.score {
  height: 52px;
  width: 250px;
}

.score-container {
  position: absolute;
  height: 48px;
  width: inherit;
  border: 2px solid $color-black;
  border-radius: 12px;
}

.score-progress {
  position: absolute; 
  height: 50px; 
  border-radius: 12px 0 0 12px;
}

.score-studio {
  font-family: "Karrik", sans-serif;
  font-size: 2em;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  padding: 18px 12px 6px 12px; 
  justify-content: center;
  background: $color-green;
  color: $color-white;
  text-align: center;
}

/* ~ Inputs */


.text-input:focus {
  color: $color-black;
}

.email-input {
  font-family: "ff-real-text-pro", sans-serif;
  font-weight: 300;
  font-size: 16px; 
  color: $color-black;
  border: solid 2px $color-gray-secondary;
  border-radius: 24px;
  padding: 12px 0 12px 24px;
  justify-self: center;
}

// #nav-search {
//   width: 556px;
//   font-family: "Karrik", sans-serif;
//   font-size: 20px; 
//   color: $color-black;
//   border: solid 2px $color-pink;
//   background-color: $color-gray-margin;
//   border-radius: 24px;
//   padding: 12px 0 12px 24px;
//   justify-self: center;
// }

.search-page-input {
  font-family: "Karrik", sans-serif;
  font-size: 20px; 
  color: $color-gray-secondary;
  border: solid 2px $color-gray-secondary;
  border-radius: 24px;
  padding: 12px 16px 12px 24px;
  justify-self: center;
  width: 90%;
}

.search-page-input:focus {
  color: $color-black;
}

/*~ Buttons and Dots */

.button {
  font-family: 'Karrik', sans-serif;
  font-size: 20px;
  color: $color-white;
  padding: 12px 16px;
  border: none;
  border-radius: 12px;
}

.button:hover {
  cursor:pointer; 
}

.dot {
  height: 24px; 
  width: 24px;
  border-radius: 50%;
  display: inline-block;
}

.dot-small {
  height: 12px; 
  width: 12px;
  position: absolute;
  translate: -24px;
  border-radius: 50%;
  display: inline-block;
}

/* ~ Carousel */

#card-carousel {
  width: 200px;
}

.carouselArrow {
  width: 48px;
  position: relative; 
  top: 100px;
}

/* ~ Articles */

.collection {
  display: flex; 
  flex-wrap: wrap;
  gap: 24px;
  padding: 0px 48px;
  background-color: $color-white;
}


#articles div {
  width: 477px;
}

#articles h1 {
  font-family: "ff-real-text-pro", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

#articles p {
  font-family: "ff-real-text-pro", sans-serif;
  font-weight: 200;
  font-size: 16px;
}

// new stuff .. sort and clean later ..... sorry future ace ... 

.button {
  // font-family: 'Karrik', sans-serif;
  font-family: "ff-real-text-pro", sans-serif;
  font-size: 16px;
  color: $color-white;
  width: fit-content;
  padding: 12px 16px;
  border: none;
  border-radius: 6px;
}

.buttonRead:hover {
  cursor: pointer;
}

.section-header {
  padding: 48px;
}

#aboutCallout {
  font-size: 46px;
}

#subscribe {
  padding: 24px 48px;
}

.indvtext-lists li {
  font-family: "ff-real-text-pro", sans-serif;
  font-size: 1.25em;
  font-weight: 400;
  padding: 12px;
  color: $color-gray-primary;
  list-style-type: '•';
}

.pos-reception {
  list-style-type: '+' !important;
}

.neg-reception {
  list-style-type: '-' !important;
}

.indvtext-lists actor {
  color: $color-gray-secondary;
  font-style: italic;
}

.reviews a {
  color: $color-pink;
}

/* ~ Footer */

#footer {
  padding: 48px;
}

#footer h2 {
  font-family: "roc-grotesk", sans-serif; 
  font-size: 20px;
  font-weight: 600;
  margin: 4px 0;
  // color: $color-pink;
}

#footer a {
  font-family: "ff-real-text-pro", sans-serif;
  font-size: 16px;
  color: $color-gray-primary;
  text-decoration: none;
}